<nav>
    <h1 class="logo"><a href="/">HoodToHood for members only</a></h1>
    <div class="navButtonsDiv">
      <a href="/log-in"><button>Log in</button></a>
      <a href="/sign-up"><button>Sign up</button></a>
    </div>
</nav>