<nav>
    <h1 class="logo"><a href="/">HoodToHood for members only</a></h1>
    <div class="navButtonsDiv">
      <% if (!locals.currentUser) {%>
        <a href="/log-in"><button>Log in</button></a>
        <a href="/sign-up"><button>Sign up</button></a>
      <% } else { %>
       <% if (!currentUser.admin) { %>
        <a href="/becomeAdmin"><button>Become an admin</button></a>
       <% } %>
        <a href="/sendMsg"><button>Send message</button></a>
        <a href="/log-out"><button>Log out</button></a>
      <% } %>
    </div>
</nav>