<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hood to Hood | Sign up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nabla&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="mainStyle.css">
</head>
<body>
        <%- include('partials/nav.ejs') %>
        <main>
            <section class="signUpSection">
                <form class="signUpForm" action="/log-in" method="POST">
                    <h2 class="signUpLogo">Login</h2>
                    <%- include('partials/error.ejs') %>
                    <label for="nickName">Nickname</label>
                     <input type="nickName" id="nickName" name="nickName" maxlength="20" required />
                    <label for="password">Password</label>
                     <input type="password" id="password" name="password" maxlength="25" required />
                    <button type="submit">Log in</button> 
                </form>
            </section>
        </main>
</body>
</html>