<nav>
    <h1 class="logo">HoodToHood for members only</h1>
    <div class="navButtonsDiv">
      <a><button>Log in</button></a>
      <a href="/sign-up"><button>Sign up</button></a>
    </div>
</nav>